{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}
{% block body %}
	<section class="banner">
		<div class="banner-header">
			<h1 class="banner-header-title text-center">Bienvenue sur la Bibliothèque Ludique</h1>
		</div>
	</section>
{% endblock %}
