<form action="{{ path('app.auteur.delete', {id: auteur.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer cet auteur ?')">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ auteur.id) }}">
	<button type="submit" class="btn btn-danger text-white">
		<i class="bi bi-trash-fill"></i>Supprimer</button>
</form>
